<html>
<head></head>
<header>
 <a href="/spaces">All Spaces</a>

    <% if @is_signed_in == nil %>
      <a href="/sign_in">Login</a>
    <% else %>
      <a href="/sign_out">Sign Out</a>
    <% end %>
</header>
<body>
<h1>All Requests </h1>
<div>
<h2> Requests I have made: </h2> 
<% @request_sent.each do |request| %>
  <%= @spaces[request.space_id - 1].name %> <br> <br>
  <%= request.date %> 
    <% if request.confirmed == false %>
  <p> <b> Not confirmed </b> </p>
    <% else %>
  <p> <b> Booking confirmed </b> </p>
  <% end %>
  <% end %>
</div>

<div>
<br>
<h2> Requests I have received: </h2>
<% @request_received.each do |request| %>
<a href="<%='/requested/' + request.id.to_s %>">
  <%= @spaces[request.space_id - 1].name %> <br> <br>
  <%= request.date %>
    <% if request.confirmed == false %>
  <p> <b> Not confirmed <b> </p>
    <% else %>
  <p> <b> Booking confirmed <b> </p>
  <% end %>
  </a>
<% end %>
</div>
</body>
</html>