<h1>All Requests </h1>
<div>
<h2> Requests I have made: </h2> 
<% @request_sent.each do |request| %>
  <%= request.space_name %> <br> <br>
  <%= request.date %> 
    <% if request.confirmed == false %>
  <p> Not confirmed </p>
    <% else %>
  <p> Booking confirmed </p>
  <% end %>
  <% end %>
</div>

<div>
<br>
<h2> Requests I have received: </h2>
<% @request_received.each do |request| %>
<a href="<%='/requested/' + request.id.to_s %>">
  <%= request.space_name %> <br> <br>
  <%= request.date %>
    <% if request.confirmed == false %>
  <p> Not confirmed </p>
    <% else %>
  <p> Booking confirmed </p>
  <% end %>
  </a>
<% end %>
</div>
</body>
</html>